# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# ----------------------------
# Virtual environments
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# Django
# ----------------------------
*.log
db.sqlite3
media/
staticfiles/

# migrations compilées
*.pyc

# ----------------------------
# Environment variables
# ----------------------------
.env
.env.*

# ----------------------------
# VS Code / IDE
# ----------------------------
.vscode/
.idea/
*.swp
*.swo

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Build / distribution
# ----------------------------
build/
dist/
*.egg-info/

# ----------------------------
# Node / frontend (si utilisé)
# ----------------------------
node_modules/

# ----------------------------
# Coverage / tests
# ----------------------------
.coverage
htmlcov/

# ----------------------------
# Cache
# ----------------------------
.cache/